.quick-access {
    box-shadow: none !important;
    background: transparent;
}

.rs-stack-item .rs-btn-primary{
    background-color: #3498ff !important;
}

.rs-btn {
    text-align: start !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #9a9a9a;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.hidden-scroll-bar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scroll-bar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.header-tab > .rs-nav-item {
    height: 100%;
    border-radius: 0px;
}

.custom-carousel {
    /* height: calc(100vh - 70px); */
    height: auto;
}

.custom-carousel .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: calc(100vh - 70px);
    background-color: white;
    color: white;
    text-align: center;
}

.custom-carousel img {
    object-fit: cover;
}

.p-btn {
    position: relative;
    overflow: hidden;
}

.p-btn > * {
    position: relative;
    z-index: 1;
}

.p-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: rgba(0, 0, 0, 0.15);
    transition: width 0.4s ease-in-out;
    z-index: 0;
}

.p-btn:hover::before {
    width: 100%;
}

:has(> .animation-iv) {
    overflow: hidden;
}

.animation-iv.fade-in {
    opacity: 0%;
    transition: opacity 0.6s ease-in-out;
}

.animation-iv.fade-in.in-view {
    opacity: 100%;
}

.animation-iv.fade-in-left {
    opacity: 0%;
    transform: translateX(-100%);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.animation-iv.fade-in-left.in-view {
    opacity: 100%;
    transform: translateX(0%);
}

.animation-iv.fade-in-right {
    opacity: 0%;
    transform: translateX(100%);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.animation-iv.fade-in-right.in-view {
    opacity: 100%;
    transform: translateX(0%);
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee {
    display: inline-block;
    transform: translateX(100%);
    animation: marquee linear infinite;
    animation-duration: 20s;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

a {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none !important
}

.custom-padding {
    @apply lg:px-[100px] md:px-[60px] px-5 lg:py-[60px] md:py-[30px] py-5;
}

.custom-box {
    padding: 15px;
    margin: -15px;
}
